"The credit_card_transactions dataset is extensive, and I shared a sample table to illustrate its structure."

In [ ]:
# create database credit_card_transactions

In [ ]:

CREATE TABLE credit_card_transactions (
    [index] INT PRIMARY KEY,
    city VARCHAR(255),
    [date] DATE,
    card_type VARCHAR(50),
    exp_Type VARCHAR(50),
    gender CHAR(1),
    amount INT
);
GO

In [ ]:
INSERT INTO Transactions ([index], city, [date], card_type, exp_Type, gender, amount)
VALUES
(0, 'Delhi, India', '2014-10-29', 'Gold', 'Bills', 'F', 82475),
(1, 'Greater Mumbai, India', '2014-08-22', 'Platinum', 'Bills', 'F', 32555),
(2, 'Bengaluru, India', '2014-08-27', 'Silver', 'Bills', 'F', 101738),
(3, 'Greater Mumbai, India', '2014-04-12', 'Signature', 'Bills', 'F', 123424),
(4, 'Bengaluru, India', '2015-05-05', 'Gold', 'Bills', 'F', 171574);
GO